<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.tianyiforumbackend.Mapper.PostMapper">
    <insert id="createPost">
        insert into posts
        (title, content, author_id, board_id,status,created_at) VALUES (#{title}, #{content}, #{authorId}, #{boardId},#{status},#{createdAt})
    </insert>
    <select id="findAll" resultType="com.tianyi.tianyiforumbackend.VO.PostVo">
        select p.*, u.username as author
        from posts p
        left join users as u on p.author_id = u.id
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            <if test="keyword!=null and keyword!='' ">
                (p.title like concat('%',#{keyword},'%') OR p.content like concat('%',#{keyword},'%'))
            </if>
            <if test="status!=null and status!='' ">
                p.status=#{status}
            </if>
        </trim>
        <choose>
            <when test="sortBy == 'hot'">
                ORDER BY p.hot_score DESC
            </when>
            <when test="sortBy == 'violation'">
                ORDER BY p.violation_score DESC
            </when>
            <otherwise>
                ORDER BY p.created_at DESC
            </otherwise>
        </choose>
    </select>

    <select id="findById" resultType="com.tianyi.tianyiforumbackend.VO.PostVo">
        select p.*, u.username as author
        from posts p
        left join users as u on p.author_id = u.id
        where p.id = #{postId}
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from posts p
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            <if test="keyword!=null and keyword!='' ">
                (p.title like concat('%',#{keyword},'%') OR p.content like concat('%',#{keyword},'%'))
            </if>
            <if test="status!=null and status!='' ">
                and p.status=#{status}
            </if>
            <if test="boardId!=null and boardId!='' ">
                and p.board_id=#{boardId}
            </if>
        </trim>
    </select>
    <select id="portalFindAll" resultType="com.tianyi.tianyiforumbackend.VO.PortalPostVO">
        select p.*, u.username as author,b.name as boardName
        from posts p
        left join users as u on p.author_id = u.id
        left join boards as b on p.board_id = b.id
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            <if test="keyword!=null and keyword!='' ">
                (p.title like concat('%',#{keyword},'%') OR p.content like concat('%',#{keyword},'%'))
            </if>
            <if test="status!=null and status!='' ">
                and p.status=#{status}
            </if>
            <if test="boardId!=null and boardId!='' ">
                and p.board_id=#{boardId}
            </if>
        </trim>
        <choose>
            <when test="sortBy == 'hot'">
                ORDER BY p.hot_score DESC
            </when>
            <otherwise>
                ORDER BY p.created_at DESC
            </otherwise>
        </choose>

    </select>

    <update id="updateModeration">
        update posts
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="isTop != null">is_top = #{isTop},</if>
            <if test="isFeatured != null">is_featured = #{isFeatured},</if>
            updated_at = now()
        </set>
        where id = #{id}
    </update>
</mapper>